# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:5173

# Database
DATABASE_URL=postgres://user:password@localhost:5432/db-name

# Discord
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# GitHub
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Resend
RESEND_API_KEY=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
