AWS_CLUSTER_ARN=           # ClusterArn output
AWS_CLUSTER_NAME=          # ClusterName output
AWS_VPC_ID=                # VpcId output
AWS_INSTANCE_SG_ID=        # InstanceSgId output
AWS_LOG_GROUP=             # LogGroupName output
AWS_TASK_ROLE_ARN=         # TaskRoleArn output
AWS_CAPACITY_PROVIDER=     # CapacityProviderName output

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
