# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:4666

# Database
DATABASE_URL=postgres://root:mysecretpassword@localhost:5432/local

# Discord
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# GitHub
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
